In [17]:
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process 
import pandas as pd

def checker(wrong_options,correct_options):

    names_array=[]
    ratio_array=[]    
    for wrong_option in wrong_options:
        if wrong_option in correct_options:
           names_array.append(wrong_option)
           ratio_array.append('100')
        else:   
            x=process.extractOne(wrong_option,correct_options,scorer=fuzz.token_set_ratio)
            names_array.append(x[0])
            ratio_array.append(x[1])
    return names_array,ratio_array

df_Original_List=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\Analysis\TFMS analysis _2_Updated  05 08 2020.xlsx',sheet_name='Commercial Data')

df_To_beMatched=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\Analysis\TFMS analysis _2_Updated  05 08 2020.xlsx',sheet_name='TQC Data withBrand Ind Updated3')

In [18]:
df_Original_List.head(2)

,Unnamed: 0,Supplier_Number,Supplier_Name,Commercial_Director,Commercial_Area,Category_Director,Category_Area,Buying_Controller,Product_Area,Buyer,...,Active_Yes_No,Geography,Parent_Supplier_Number_TFMS,Parent_Supplier_Name,OBL Count,Count,Sales TY Ind,Supplier Name from TQC,Supplier Code from TQC,Supplier Number from TQC
0,65450WASHIN G.,65450,OTL,PACKAGE D.,Packaged,HB&WELLNES S.,"Health, Beauty & Wellness",TOILETRIE S.,Toiletries,BATHING&WASHING.,...,Yes,UK,4723,OTL,0.0,1.0,Yes,NaN,NaN,NaN
1,63057KOSHE R.,63057,GOLDEN ACRE FOODS LTD,PACKAGE D.,Packaged,GROCER Y.,Grocery,INGREDS&GLOBA L.,Ingredients & Global Grocery,EUR USA CAR K O.,...,Yes,UK,6404,GOLDEN ACRE DAIRY FOODS LTD,0.0,5.0,Yes,NaN,NaN,NaN

In [19]:
df_To_beMatched.head(2)

,Unnamed: 0,Supplier_Code,Supplier_Name,Site_Code,Site_Name,Audit,Last_Audit_Date,Last_Audit_Score,Score,Due_Date,...,Buyer,Buying_Controller,Category_Director,Commercial_Director,Supplier_Number,Comm_Supplier_Name,Category_Director_Corrected,Commercial_Director_Corrected,Buying_Controller_Corrected,Junior_Buyer_Corrected
0,45494CHILLED PIZZ A.,11937,Bakkavor,112,Bakkavör Salads Spalding - Delicatessen,Audit: TFMS - Maintenance V6,2019-09-20,Green,Green,2017-06-07,...,CHILLED PIZZ A.,CHILLE D.,PREPARED FOOD S.,FRES H.,45494.0,BAKKAVOR SPALDING(FF(VF,PREPARED FOOD S.,FRES H.,CHILLE D.,CHILLED PIZZ A.
1,60054CHILLED PIZZ A.,11937,Bakkavor,112,Bakkavör Salads Spalding - Delicatessen,Audit: TFMS - Maintenance V6,2019-09-20,Green,Green,2017-06-07,...,CHILLED PIZZ A.,CHILLE D.,PREPARED FOOD S.,FRES H.,60054.0,BAKKAVOR FOODS LTD TA(VF,PREPARED FOOD S.,FRES H.,CHILLE D.,CHILLED PIZZ A.

In [20]:
df_Original_List=df_Original_List[df_Original_List['Supplier Name from TQC'].isnull()]

##### Convert Supplier Names to Upper case and remove words LTD and LIMITED from those names

In [21]:
df_Original_List['Supplier_Name_3']=df_Original_List['Supplier_Name'].str.upper()
df_To_beMatched['Supplier_Name_3']=df_To_beMatched['Supplier_Name'].str.upper()


df_Original_List['Supplier_Name_3']=df_Original_List['Supplier_Name_3'].str.replace('LTD','').str.replace('LIMITED','')
df_To_beMatched['Supplier_Name_3']=df_To_beMatched['Supplier_Name_3'].str.replace('LTD','').str.replace('LIMITED','')

In [22]:
df_Original_List.head(2)
# df_Original_List.head()

,Unnamed: 0,Supplier_Number,Supplier_Name,Commercial_Director,Commercial_Area,Category_Director,Category_Area,Buying_Controller,Product_Area,Buyer,...,Geography,Parent_Supplier_Number_TFMS,Parent_Supplier_Name,OBL Count,Count,Sales TY Ind,Supplier Name from TQC,Supplier Code from TQC,Supplier Number from TQC,Supplier_Name_3
0,65450WASHIN G.,65450,OTL,PACKAGE D.,Packaged,HB&WELLNES S.,"Health, Beauty & Wellness",TOILETRIE S.,Toiletries,BATHING&WASHING.,...,UK,4723,OTL,0.0,1.0,Yes,NaN,NaN,NaN,OTL
1,63057KOSHE R.,63057,GOLDEN ACRE FOODS LTD,PACKAGE D.,Packaged,GROCER Y.,Grocery,INGREDS&GLOBA L.,Ingredients & Global Grocery,EUR USA CAR K O.,...,UK,6404,GOLDEN ACRE DAIRY FOODS LTD,0.0,5.0,Yes,NaN,NaN,NaN,GOLDEN ACRE FOODS

In [23]:
df_To_beMatched.head(2)

,Unnamed: 0,Supplier_Code,Supplier_Name,Site_Code,Site_Name,Audit,Last_Audit_Date,Last_Audit_Score,Score,Due_Date,...,Buying_Controller,Category_Director,Commercial_Director,Supplier_Number,Comm_Supplier_Name,Category_Director_Corrected,Commercial_Director_Corrected,Buying_Controller_Corrected,Junior_Buyer_Corrected,Supplier_Name_3
0,45494CHILLED PIZZ A.,11937,Bakkavor,112,Bakkavör Salads Spalding - Delicatessen,Audit: TFMS - Maintenance V6,2019-09-20,Green,Green,2017-06-07,...,CHILLE D.,PREPARED FOOD S.,FRES H.,45494.0,BAKKAVOR SPALDING(FF(VF,PREPARED FOOD S.,FRES H.,CHILLE D.,CHILLED PIZZ A.,BAKKAVOR
1,60054CHILLED PIZZ A.,11937,Bakkavor,112,Bakkavör Salads Spalding - Delicatessen,Audit: TFMS - Maintenance V6,2019-09-20,Green,Green,2017-06-07,...,CHILLE D.,PREPARED FOOD S.,FRES H.,60054.0,BAKKAVOR FOODS LTD TA(VF,PREPARED FOOD S.,FRES H.,CHILLE D.,CHILLED PIZZ A.,BAKKAVOR

##### Unique Combinations of Supplier Junior Buyer Combo for TQC data.

In [24]:
df_To_beMatched['Supplier_Name_Junior_Buyer']=df_To_beMatched['Supplier_Name']+df_To_beMatched['Junior_Buyer']
tqc_original_combo=df_To_beMatched['Supplier_Name_Junior_Buyer'].nunique()
tqc_original_combo

1623

##### df_easy_join : Join TQC data with Commercial based on Supplier_Code ,Junior Buyer ,OBL_Count , BL_count

In [25]:
df_easy_join=df_To_beMatched.merge(df_Original_List,how='inner',left_on=['Supplier_Code','Junior_Buyer'],right_on=['Supplier_Number','Junior_Buyer'])
df_easy_join.head(2)
# df_easy_join.drop_duplicates().to_excel('df_easy_join.xlsx')

,Unnamed: 0_x,Supplier_Code,Supplier_Name_x,Site_Code,Site_Name,Audit,Last_Audit_Date,Last_Audit_Score,Score,Due_Date,...,Geography,Parent_Supplier_Number_TFMS,Parent_Supplier_Name,OBL Count,Count,Sales TY Ind,Supplier Name from TQC,Supplier Code from TQC,Supplier Number from TQC,Supplier_Name_3_y
0,38017FRZEN MEAT FREE.,34589,Goodlife Foods,492,Goodlife Foods (UK) ltd,Audit: TFMS - Maintenance V6,2019-05-15,Amber,Amber,2018-05-11,...,UK,2109,DALOON FOODS (UK) LTD (FZ,42.0,4.0,Yes,NaN,NaN,NaN,DALOON FOODS (UK) (FZ
1,38017FRZEN MEAT FREE.,34589,Goodlife Foods,492,Goodlife Foods (UK) ltd,Audit: TFMS - Maintenance V6,2019-05-15,Amber,Green,2017-05-08,...,UK,2109,DALOON FOODS (UK) LTD (FZ,42.0,4.0,Yes,NaN,NaN,NaN,DALOON FOODS (UK) (FZ

In [10]:
df_easy_join['Supplier_Name_Junior_Buyer']=df_easy_join['Supplier_Name_x']+df_easy_join['Junior_Buyer']
tqc_easy_join_combo=df_easy_join['Supplier_Name_Junior_Buyer'].nunique()
tqc_easy_join_combo
per=(tqc_easy_join_combo/tqc_original_combo)*100
print("TQC easy join combo : " ,tqc_easy_join_combo," | Percentage Match : " ,per)

TQC easy join combo :  0  | Percentage Match :  0.0

##### Get the remainder combinations from TQC

In [15]:
remainder_combinations=df_To_beMatched.merge(df_Original_List,how='outer',left_on=['Supplier_Code','Junior_Buyer'],right_on=['Supplier_Number','Junior_Buyer'],indicator=True)
remainder_combinations=remainder_combinations[remainder_combinations['Supplier_Name_y'].isnull()]
# print(remainder_combinations.columns)
remainder_combinations['Supplier_Name_Junior_Buyer']=remainder_combinations['Supplier_Name_x']+remainder_combinations['Junior_Buyer']
remainder_combinations_combo=remainder_combinations['Supplier_Name_Junior_Buyer'].nunique()
print("Remainder Combinations Combo : ", remainder_combinations_combo)
remainder_combinations.columns

Remainder Combinations Combo :  217

Index(['Unnamed: 0_x', 'Supplier_Code', 'Supplier_Name_x', 'Site_Code',
       'Site_Name', 'Audit', 'Last_Audit_Date', 'Last_Audit_Score', 'Score',
       'Due_Date', 'From_Date', 'To_Date', 'Audit_Visit_Id',
       'Audit_Visit_Status', 'Site_Status', 'Lead_Technical_Manager',
       'Business_Units', 'Country', 'Path', 'OBL_Count', 'BL_Count',
       'Junior_Buyer', 'Buyer_x', 'Buying_Controller_x', 'Category_Director_x',
       'Commercial_Director_x', 'Supplier_Number_x', 'Comm_Supplier_Name',
       'Category_Director_Corrected', 'Commercial_Director_Corrected',
       'Buying_Controller_Corrected', 'Junior_Buyer_Corrected',
       'Supplier_Name_3_x', 'Supplier_Name_Junior_Buyer', 'Unnamed: 0_y',
       'Supplier_Number_y', 'Supplier_Name_y', 'Commercial_Director_y',
       'Commercial_Area', 'Category_Director_y', 'Category_Area',
       'Buying_Controller_y', 'Product_Area', 'Buyer_y', 'Buyer_Area',
       'Junior_Area', 'Active_Yes_No', 'Geography',
       'Parent_Supplier_Number_TFMS', 'Parent_Supplier_Name', 'OBL Count',
       'Count', 'Sales TY Ind', 'Supplier Name from TQC',
       'Supplier Code from TQC', 'Supplier Number from TQC',
       'Supplier_Name_3_y', '_merge'],
      dtype='object')

##### To run fuzzy logic on the remainder  Suppliers , we need to compare it with commercial data ONLY OWN LABEL

In [12]:
commercial_only_OBL=df_Original_List[df_Original_List['OBL Count']>0]
commercial_only_OBL.head(2)

,Unnamed: 0,Supplier_Number,Supplier_Name,Commercial_Director,Commercial_Area,Category_Director,Category_Area,Buying_Controller,Product_Area,Buyer,...,Geography,Parent_Supplier_Number_TFMS,Parent_Supplier_Name,OBL Count,Count,Sales TY Ind,Supplier Name from TQC,Supplier Code from TQC,Supplier Number from TQC,Supplier_Name_3
4,56347PORIDGE&ONTHEGO.,56347,PIONEER FOODS (UK) LTD,PACKAGE D.,Packaged,GROCER Y.,Grocery,BREAKFAST&F F.,Breakfast & Free From,CEREAL S.,...,UK,2443,BOKOMO FOODS (UK) LTD,1.0,1.0,Yes,NaN,NaN,NaN,PIONEER FOODS (UK)
14,64784FBAKERYORDERABL.,64784,PANELTO FOODS LTD,FRES H.,Fresh,BAKERY&DAIR Y.,Bakery & Dairy,IN STORE BA K.,Instore Bakery,FBAKERYORDERABL.,...,UK,7472,PANELTO FOODS LTD,23.0,0.0,Yes,NaN,NaN,NaN,PANELTO FOODS

##### Get unique Junior Buyers to run the loop

In [38]:
jb_comm=df_To_beMatched['Junior_Buyer'].unique()
jb_comm=pd.DataFrame(jb_comm,columns={'Junior_Buyer'})
jb_comm=jb_comm[jb_comm['Junior_Buyer']=='STONEFRUI     T.']
jb_comm

         Junior_Buyer
218  STONEFRUI     T.

In [16]:
remainder_combinations[(remainder_combinations['Supplier_Name_x']=='direct produce supplies PLC') & (remainder_combinations['Junior_Buyer']=='AMBIENT SALA  D.')]

Empty DataFrame
Columns: [Unnamed: 0_x, Supplier_Code, Supplier_Name_x, Site_Code, Site_Name, Audit, Last_Audit_Date, Last_Audit_Score, Score, Due_Date, From_Date, To_Date, Audit_Visit_Id, Audit_Visit_Status, Site_Status, Lead_Technical_Manager, Business_Units, Country, Path, OBL_Count, BL_Count, Junior_Buyer, Buyer_x, Buying_Controller_x, Category_Director_x, Commercial_Director_x, Supplier_Number_x, Comm_Supplier_Name, Category_Director_Corrected, Commercial_Director_Corrected, Buying_Controller_Corrected, Junior_Buyer_Corrected, Supplier_Name_3_x, Supplier_Name_Junior_Buyer, Unnamed: 0_y, Supplier_Number_y, Supplier_Name_y, Commercial_Director_y, Commercial_Area, Category_Director_y, Category_Area, Buying_Controller_y, Product_Area, Buyer_y, Buyer_Area, Junior_Area, Active_Yes_No, Geography, Parent_Supplier_Number_TFMS, Parent_Supplier_Name, OBL Count, Count, Sales TY Ind, Supplier Name from TQC, Supplier Code from TQC, Supplier Number from TQC, Supplier_Name_3_y, _merge]
Index: []

[0 rows x 58 columns]

##### For loop with the fuzzy function

In [39]:
cols=['TQC_Supplier_Name','Supplier_Code','Comm_Supplier_Name','junio_buyer','correct_ratio']
# commercial_for_loop=commercial_only_OBL.copy()
df2=pd.DataFrame()

output_list=[]


for i in jb_comm['Junior_Buyer']:
    filter_data_tqc=df_To_beMatched[df_To_beMatched['Junior_Buyer']==i]
    filter_data_comm=df_Original_List[df_Original_List['Junior_Buyer']==i]

    if not filter_data_comm.empty:

        str2Match = filter_data_tqc['Supplier_Name_3'].fillna('######').tolist()
        strSupplier_Code =filter_data_tqc['Supplier_Code'].tolist()
        strOptions =filter_data_comm['Supplier_Name_3'].fillna('######').tolist()
#         strTesco_Brand_Ind =filter_data_tqc['Tesco_Brand_Ind'].fillna('######').tolist()
        
#         name_match,ratio_match=checker(str2Match,strOptions)
        
        for j in range(0,len(str2Match)):
            x=process.extractOne(str2Match[j],strOptions,scorer=fuzz.token_set_ratio)
            while x[1]==100:
                output_list=[str2Match[j],strSupplier_Code[j],x[0],i,x[1]]
                zipped = zip(cols, output_list)
                a_dictionary = dict(zipped)
                df1=pd.DataFrame(a_dictionary,columns=cols,index=[j])
                df2=df2.append(df1)
                #drop row which has the matched supplier name and junor buyer
                strOptions.remove(x[0])
                x=process.extractOne(str2Match[j],strOptions,scorer=fuzz.token_set_ratio)
            strOptions =filter_data_comm['Supplier_Name_3'].fillna('######').tolist()
#                 output_list=[str2Match[j],strSupplier_Code[j],x[0],i,x[1],strTesco_Brand_Ind[j]]
                
#                 filter_data_comm.drop(filter_data_comm[(filter_data_comm['Supplier_Name_3'] ==x[0])&(filter_data_comm['Junior_Buyer'] ==i)].index, inplace = True) 
                
            output_list=[str2Match[j],strSupplier_Code[j],x[0],i,x[1]]
            zipped = zip(cols, output_list)
            a_dictionary = dict(zipped)
            df1=pd.DataFrame(a_dictionary,columns=cols,index=[j])
            df2=df2.append(df1)

        
        
df2.head(2)
# remainder_matches_using_fuzzy=df2
# remainder_matches_using_fuzzy=remainder_matches_using_fuzzy.drop_duplicates()
# remainder_matches_using_fuzzy[remainder_matches_using_fuzzy['TQC_Supplier_Name']=='BAKKAVOR'].head()

,TQC_Supplier_Name,Supplier_Code,Comm_Supplier_Name,junio_buyer,correct_ratio
0,DIRECT PRODUCE SUPPLIES PLC,25887,DIRECT PRODUCE SUPP(ROI(EUR(FF,STONEFRUI T.,70
1,DIRECT PRODUCE SUPPLIES PLC,25887,DIRECT PRODUCE SUPP(ROI(EUR(FF,STONEFRUI T.,70

In [68]:
# remainder_matches_using_fuzzy.to_excel('df3.xlsx')
remainder_matches_using_fuzzy[remainder_matches_using_fuzzy['TQC_Supplier_Name']=='BAKKAVOR'].head(10)

Empty DataFrame
Columns: [TQC_Supplier_Name, Supplier_Code, Comm_Supplier_Name, junio_buyer, correct_ratio]
Index: []

In [31]:
remainder_matches_using_fuzzy=df2
remainder_matches_using_fuzzy=remainder_matches_using_fuzzy.drop_duplicates()
# remainder_matches_using_fuzzy[remainder_matches_using_fuzzy['TQC_Supplier_Name']=='BAKKAVOR'].head()

In [32]:
remainder_matches_using_fuzzy['Supplier_Name_Junior_Buyer']=remainder_matches_using_fuzzy['TQC_Supplier_Name']+remainder_matches_using_fuzzy['junio_buyer']
remainder_matches_using_fuzzy['Supplier_Name_Junior_Buyer'].nunique()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

1609

##### Get the Commercial Supplier Number Junior Buyer to the 'remainder_matches_using_fuzzy' to compare

In [34]:
df_3=remainder_matches_using_fuzzy.merge(commercial_only_OBL[['Supplier_Name_3','Supplier_Number','Junior_Buyer']],how='left',left_on=['Comm_Supplier_Name','junio_buyer'],right_on=['Supplier_Name_3','Junior_Buyer'])
df_3=df_3.drop_duplicates()
df_3
remainder_matches_using_fuzzy_with_Supplier_Number=df_3
remainder_matches_using_fuzzy_with_Supplier_Number.to_excel('df4.xlsx')

In [35]:
# remainder_matches_using_fuzzy_with_Supplier_Number.to_excel('df3.xlsx')

In [37]:
remainder_matches_using_fuzzy_with_Supplier_Number['correct_ratio']=pd.to_numeric(remainder_matches_using_fuzzy_with_Supplier_Number['correct_ratio'], errors='coerce')
remainder_matches_using_fuzzy_with_Supplier_Number['correct_ratio'].fillna(0)
remainder_matches_using_fuzzy_with_Supplier_Number_above_80=remainder_matches_using_fuzzy_with_Supplier_Number[remainder_matches_using_fuzzy_with_Supplier_Number['correct_ratio']>80].sort_values(by=['correct_ratio'],ascending=True)
remainder_matches_using_fuzzy_with_Supplier_Number_above_80.to_excel('df5.xlsx')

##### Get unique combinations of Supplier Junior combo of 'remainder_matches_using_fuzzy_with_Supplier_Number_above_80'

In [38]:

remainder_matches_using_fuzzy_with_Supplier_Number_above_80['Supplier_Name_Junior_Buyer']=remainder_matches_using_fuzzy_with_Supplier_Number_above_80['TQC_Supplier_Name']+remainder_matches_using_fuzzy_with_Supplier_Number_above_80['Junior_Buyer']
remainder_matches_using_fuzzy_with_Supplier_Number_above80_combo=remainder_matches_using_fuzzy_with_Supplier_Number_above_80['Supplier_Name_Junior_Buyer'].nunique()
print('Remainder Supplier Junior Combo Count: ',remainder_matches_using_fuzzy_with_Supplier_Number_above80_combo)
print('Percentage match :', (remainder_matches_using_fuzzy_with_Supplier_Number_above80_combo/remainder_combinations_combo)*100)

Remainder Supplier Junior Combo Count:  7
Percentage match : 3.5532994923857872

In [39]:

less_than_80=remainder_matches_using_fuzzy_with_Supplier_Number[remainder_matches_using_fuzzy_with_Supplier_Number['correct_ratio']<=80].sort_values(by=['correct_ratio'],ascending=True)
less_than_80.to_excel('less_than_80.xlsx')
less_than_80['Supplier_Name_Junior_Buyer']=less_than_80['TQC_Supplier_Name']+less_than_80['Junior_Buyer']
less_than_80_combo=less_than_80['Supplier_Name_Junior_Buyer'].nunique()
print('Remainder Supplier Junior less than 80 % Match: ',less_than_80_combo)

Remainder Supplier Junior less than 80 % Match:  196

In [40]:
matched_easyjoin=df_easy_join[['Supplier_Code','Supplier_Name_x','Junior_Buyer','Supplier_Number','Supplier_Name_y']]
matched_easyjoin=matched_easyjoin.rename(columns={'Supplier_Name_x':'TQC_Supplier_Name','Supplier_Name_y':'Comm_Supplier_Name'})
matched_easyjoin['By']='Easy_Join'
print(matched_easyjoin.head())
matched_fuzzy_logic=remainder_matches_using_fuzzy_with_Supplier_Number_above_80[['Supplier_Code','TQC_Supplier_Name','Junior_Buyer','Supplier_Number','Comm_Supplier_Name']]
matched_fuzzy_logic['By']='Fuzzy_Logic'
matched_fuzzy_logic.head()
total_matched=pd.concat([matched_easyjoin,matched_fuzzy_logic]).drop_duplicates()
total_matched.to_excel('matched_3.xlsx')

KeyError: "['Supplier_Number'] not in index"

In [84]:
df_easy_join['easy']='easy'
df_test=df_easy_join.merge(df_3,how='right',left_on=['Supplier_Number','Junior_Buyer'],right_on=['Supplier_Number','Junior_Buyer'])
df_test[df_test['easy']!='easy'].drop_duplicates()

,Supplier_Code_x,Supplier_Name_x,Site_Code,Site_Name,Audit,Last_Audit_Date,Last_Audit_Score,Score,Due_Date,From_Date,...,Parent_Supplier_Name,Supplier_Name_3_y,easy,TQC_Supplier_Name,Supplier_Code_y,Comm_Supplier_Name,junio_buyer,correct_ratio,Supplier_Name_3,All_Columns
3427,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,BAKKAVOR,11937.0,BAKKAVOR SPALDING(FF(VF,CHILLED PIZZ A.,100,BAKKAVOR SPALDING(FF(VF,BAKKAVOR SPALDING(FF(VFCHILLED PIZZ A.BAKKAVO...
3428,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,BAKKAVOR,35102.0,BAKKAVOR SPALDING(FF(VF,CHILLED PIZZ A.,100,BAKKAVOR SPALDING(FF(VF,BAKKAVOR SPALDING(FF(VFCHILLED PIZZ A.BAKKAVO...
3429,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,BAKKAVOR,60054.0,BAKKAVOR SPALDING(FF(VF,CHILLED PIZZ A.,100,BAKKAVOR SPALDING(FF(VF,BAKKAVOR SPALDING(FF(VFCHILLED PIZZ A.BAKKAVO...
3430,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,BAKKAVOR,35563.0,BAKKAVOR SPALDING(FF(VF,CHILLED PIZZ A.,100,BAKKAVOR SPALDING(FF(VF,BAKKAVOR SPALDING(FF(VFCHILLED PIZZ A.BAKKAVO...
3431,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,BAKKAVOR,56169.0,BAKKAVOR SPALDING(FF(VF,CHILLED PIZZ A.,100,BAKKAVOR SPALDING(FF(VF,BAKKAVOR SPALDING(FF(VFCHILLED PIZZ A.BAKKAVO...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4117,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,"AKARAGROUP CO.,.",NaN,KAO UK,PREMIUMHAIRCARE.,42,KAO UK,"KAO UK PREMIUMHAIRCARE.AKARAGROUP CO.,.0 ..."
4118,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,COUNTRY CREST,54673.0,WILSONS COUNTRY (FF,POTATOE S.,70,WILSONS COUNTRY (FF,WILSONS COUNTRY (FFPOTATOE S.COU...
4119,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,JOHN DOCKRELL,63963.0,DART FRESH PRODUCE,AMBIENTVE G.,32,DART FRESH PRODUCE,DART FRESH PRODUCE AMBIENTVE G.JOHN DOCKRE...
4120,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,GOLDSHIELD PRODUCTS (FOODS),54565.0,JDM FOOD GROUP (FF,MUSHROOM S.,43,JDM FOOD GROUP (FF,JDM FOOD GROUP (FFMUSHROOM S.GOLDSHIELD P...
4121,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,P.MCCANN & SONS,53434.0,ONUBAFRUITS.COOP.AND.(FF,ORGANICFRUI T.,44,ONUBAFRUITS.COOP.AND.(FF,ONUBAFRUITS.COOP.AND.(FFORGANICFRUI T.P.MCCA...

In [71]:
df_test=df_easy_join.merge(df_3,how='right',left_on=['Supplier_Number','Junior_Buyer'],right_on=['Supplier_Number','Junior_Buyer'])
df_test['correct_ratio']=pd.to_numeric(df_test['correct_ratio'], errors='coerce')
df_test['correct_ratio'].fillna(0)
df_test=df_test[df_test['correct_ratio']>=80].sort_values(by=['correct_ratio'],ascending=True)
(len(df_test)/len(df_To_beMatched))*100

47.92274558843963

In [85]:
len(df_easy_join.drop_duplicates()),len(df_test.drop_duplicates())

(3903, 4122)

In [74]:
df_4=df_3[df_3['correct_ratio']>80].sort_values(by=['correct_ratio'],ascending=True)
df_4['All_Columns']=df_4['Comm_Supplier_Name']+df_4['Junior_Buyer']+df_4['TQC_Supplier_Name']+str(df_4['correct_ratio'])
df_4_unique=df_3['All_Columns'].nunique()
df_4_unique
per=(df_4_unique/tqc_original_combo)*100
per

99.21630094043887

In [77]:
(len(df_4[['TQC_Supplier_Name','Junior_Buyer']].drop_duplicates())/tqc_original_combo)*100

76.17554858934169

In [79]:
len(df_4[['TQC_Supplier_Name','Junior_Buyer']].drop_duplicates())-tqc_original_combo

-304

In [81]:
df_5=df_3[df_3['correct_ratio']<80].sort_values(by=['correct_ratio'],ascending=True)
df_5.to_excel('df_5.xlsx')