In [15]:
import pandas as pd
df_To_beMatched=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\Analysis\Matching Tasks\TFMS analysis Template 2020-11-19.xlsx',sheet_name='Sheet3')
df_Original_List=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\Analysis\Total Matched 30_07_2020.xlsx',sheet_name='Sheet10')

In [16]:
df_Original_List.head(2)

,Supplier Name,Supplier Code,Junior Buyer,Comm Supplier Name,Comm Supplier Number
0,Müller Milk & Ingredients,44422,DAIRYALTERNATIV.,MULLER UK & IRELAND GROUP LLP,34758
1,Müller Milk & Ingredients,44422,DAIRYALTERNATIV.,MULLER UK & IRELAND GROUP LLP,34758

In [17]:
df_To_beMatched.head(2)

,Supplier_Code,Supplier_Name,Site_Code,Site_Name,Audit,Last_Audit_Date,Last_Audit_Score,Score,Due_Date,From_Date,...,Business_Units,Country,Path,OBL_Count,BL_Count,Junior_Buyer,Buyer,Buying_Controller,Category_Director,Commercial_Director
0,11937,Bakkavor,112,Bakkavör Salads Spalding - Delicatessen,Audit: TFMS - Maintenance V6,2019-09-20,Green,Green,2017-06-07,2017-06-07,...,United Kingdom,United Kingdom,UK / Prepared,0,2,CHILLED PIZZ A.,CHILLED PIZZ A.,CHILLE D.,PREPARED FOOD S.,FRES H.
1,11937,Bakkavor,112,Bakkavör Salads Spalding - Delicatessen,Audit: TFMS - Maintenance V6,2019-09-20,Green,Green,2018-09-03,2018-09-03,...,United Kingdom,United Kingdom,UK / Prepared,0,2,CHILLED PIZZ A.,CHILLED PIZZ A.,CHILLE D.,PREPARED FOOD S.,FRES H.

In [18]:
df_Original_List['Supplier_Name_2']=df_Original_List['Supplier Name'].str.upper()
df_Original_List['Supplier_Name_2']=df_Original_List['Supplier_Name_2'].str.replace('LTD','').str.replace('LIMITED','')


df_To_beMatched['Supplier_Name_2']=df_To_beMatched['Supplier_Name'].str.upper()


df_To_beMatched['Supplier_Name_2']=df_To_beMatched['Supplier_Name_2'].str.replace('LTD','').str.replace('LIMITED','')

In [19]:
df_To_beMatched.head(2)

,Supplier_Code,Supplier_Name,Site_Code,Site_Name,Audit,Last_Audit_Date,Last_Audit_Score,Score,Due_Date,From_Date,...,Country,Path,OBL_Count,BL_Count,Junior_Buyer,Buyer,Buying_Controller,Category_Director,Commercial_Director,Supplier_Name_2
0,11937,Bakkavor,112,Bakkavör Salads Spalding - Delicatessen,Audit: TFMS - Maintenance V6,2019-09-20,Green,Green,2017-06-07,2017-06-07,...,United Kingdom,UK / Prepared,0,2,CHILLED PIZZ A.,CHILLED PIZZ A.,CHILLE D.,PREPARED FOOD S.,FRES H.,BAKKAVOR
1,11937,Bakkavor,112,Bakkavör Salads Spalding - Delicatessen,Audit: TFMS - Maintenance V6,2019-09-20,Green,Green,2018-09-03,2018-09-03,...,United Kingdom,UK / Prepared,0,2,CHILLED PIZZ A.,CHILLED PIZZ A.,CHILLE D.,PREPARED FOOD S.,FRES H.,BAKKAVOR

In [20]:
# df_To_beMatched=df_To_beMatched[df_To_beMatched['Supplier_Number'].isnull()]
# print(len(df_To_beMatched))
# df_To_beMatched.head(2)

In [21]:
len(df_Original_List)

526

In [22]:

# df_Original_List['Supplier_Name_2']=df_Original_List['Supplier_Name.1'].str.replace('LTD','').str.replace('LIMITED','')


# df_To_beMatched['Supplier_Name_2']=df_To_beMatched['Supplier_Name'].str.upper()
# df_To_beMatched['Supplier_Name_2']=df_To_beMatched['Supplier_Name_2'].str.replace('LTD','').str.replace('LIMITED','')

In [23]:
df_Original_List.columns

Index(['Supplier Name', 'Supplier Code', 'Junior Buyer', 'Comm Supplier Name',
       'Comm Supplier Number', 'Supplier_Name_2'],
      dtype='object')

In [24]:
df_To_beMatched.columns

Index(['Supplier_Code', 'Supplier_Name', 'Site_Code', 'Site_Name', 'Audit',
       'Last_Audit_Date', 'Last_Audit_Score', 'Score', 'Due_Date', 'From_Date',
       'To_Date', 'Audit_Visit_Id', 'Audit_Visit_Status', 'Site_Status',
       'Lead_Technical_Manager', 'Business_Units', 'Country', 'Path',
       'OBL_Count', 'BL_Count', 'Junior_Buyer', 'Buyer', 'Buying_Controller',
       'Category_Director', 'Commercial_Director', 'Supplier_Name_2'],
      dtype='object')

In [25]:
join=df_To_beMatched.merge(df_Original_List,how='left',left_on=['Supplier_Name_2','Junior_Buyer'],right_on=['Supplier_Name_2','Junior Buyer'])
join.head(2)

,Supplier_Code,Supplier_Name,Site_Code,Site_Name,Audit,Last_Audit_Date,Last_Audit_Score,Score,Due_Date,From_Date,...,Buyer,Buying_Controller,Category_Director,Commercial_Director,Supplier_Name_2,Supplier Name,Supplier Code,Junior Buyer,Comm Supplier Name,Comm Supplier Number
0,11937,Bakkavor,112,Bakkavör Salads Spalding - Delicatessen,Audit: TFMS - Maintenance V6,2019-09-20,Green,Green,2017-06-07,2017-06-07,...,CHILLED PIZZ A.,CHILLE D.,PREPARED FOOD S.,FRES H.,BAKKAVOR,NaN,NaN,NaN,NaN,NaN
1,11937,Bakkavor,112,Bakkavör Salads Spalding - Delicatessen,Audit: TFMS - Maintenance V6,2019-09-20,Green,Green,2018-09-03,2018-09-03,...,CHILLED PIZZ A.,CHILLE D.,PREPARED FOOD S.,FRES H.,BAKKAVOR,NaN,NaN,NaN,NaN,NaN

In [13]:
# join=join[join['Comm Supplier Name'].notnull()]

In [26]:
join.to_excel('df_13.xlsx')